# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env*.local

# Build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
vendor/

# Next.js
.next/
out/
.vercel

# Go
go.work

# Uploads
uploads/

